body{
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
}

header{
    background: linear-gradient(90deg, orange, red, purple);
    color: white;
    text-align: center;
    padding: 20px;
}

nav{
    text-align: center;
    background: blue;
    padding: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover{
    color: yellow;
}

section{
    padding: 20px;
}

.product{
    display: flex;
    align-items: center;
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.product img{
    width: 200px;
    margin-right: 20px;
}

.price{
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.history{
    background: #fff3cd;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

footer{
    text-align: center;
    background: black;
    color: white;
    padding: 15px;
}
