body{
    font-family: Arial;
    margin: 0;
}

header{
    background: linear-gradient(120deg, orange, red, purple, green);
    color: white;
    text-align: center;
    padding: 25px;
}

#searchbar{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: none;
}

nav{
    text-align: center;
    background: black;
    padding: 15px;
}

nav a{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    border-radius: 5px;
    color: white;
    margin: 15px;
    text-decoration: dashed;
    font-weight: bold;
}

nav a:hover{
    color: grey;
}

section{
    padding: 20px;
}

.product{
    display: flex;
    background: white;
    color: black;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.product img{
    width: 180px;
    margin-right: 20px;
}

.price{
    font-size: 20px;
    color: green;
    font-weight: bold;
}

button{
    background: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: darkred;
}

footer{
    background: black;
    text-align: center;
    padding: 15px;
}
